body {
  background-color: rgb(219, 215, 215);
}
form {
  text-align: center;

  padding: 25px 25px;
  max-width: 350px;
  background-color: white;
  margin: auto;
  box-shadow:
    solid 23px,
    rgba(8, 7, 7, 0.5);
}
h1 {
  color: rgb(79, 78, 78);
}
input {
  border-radius: 3px;
  border-color: black;
  border: solid 2px;
}
#tofahrenheit {
}
label {
  font-size: 1.5rem;
  font-weight: bold;
}
button {
  border-radius: 4px;
  background-color: rgb(198, 8, 8);
  color: white;
  transition: 1s;
}
button:hover {
  background-color: rgb(245, 136, 136);
}
